.main-content {
  height: 100vh;
  overflow-y: auto;
  padding-right: 10px;
  padding-top: 80px;
  max-width: 900px;
  width: "100%";
}

.sidebar-left,
.sidebar-right {
  width: 200px;
  position: sticky;
  top: 80px;
  height: fit-content;

  @media (max-width: 1024px) {
    display: none;
  }
}

.ad-box {
  width: 100%;
  height: 600px;
  background: #f1f1f1;
  border-radius: 6px;
}
