.main-content {
  height: 100vh;
  overflow-y: auto;
  padding-right: 10px;
  padding-top: 80px;
  width: 100%; 

  @media (min-width: 1024px) {
    width: 70%; 
  }

  @media (max-width: 600px) {
    padding-right: 0;
    padding-top: 75px;
  }
}

.sidebar-left,
.sidebar-right {
  width: 200px;
  position: sticky;
  top: 80px;
  height: fit-content;

  @media (max-width: 1024px) {
    display: none; 
  }
}

.ad-box {
  width: 100%;
  height: 600px;
  background: #f1f1f1;
  border-radius: 6px;

  @media (max-width: 600px) {
    height: 300px; 
  }
}

.page-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px 10px;
  padding-top: 70px;
  height: 100vh;
  overflow: hidden;

  @media (max-width: 1024px) {
    gap: 0; 
    padding: 10px 5px;
    padding-top: 70px;
  }
}
