.navbarWrapper {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: white;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.navbar {
  flex: 1;
  border: none !important;

  @media (max-width: 768px) {
    display: none;
  }
}

.burger {
  display: none;

  @media (max-width: 768px) {
    display: block;
    font-size: 22px;
  }
}