.headerWrapper {
  margin-bottom: 20px;
}

.langSelects {
  display: flex;
  gap: 10px;
  width: 100%;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.input {
  width: 100%;
  font-size: 14px;
  padding: 6px 10px;
}
